<p-table #dt [columns]="cols" [value]="genres" selectionMode="single" [(selection)]="selectedGenre"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    List of Genres
  </ng-template>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="30" placeholder="genre search"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td style="text-align: center" *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Genre Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '300px'}">
  <form (ngSubmit)="save()" #genreForm="ngForm">
    <div class="ui-g ui-fluid" *ngIf="genre">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">Name*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText class="form-control" id="name" name="name" [(ngModel)]="genre.name" #name="ngModel"
            autofocus required />
          <div [hidden]="name.valid || name.pristine" style="color:red;">
            Name must be entered
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newGenre" type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
        <button type="submit" [disabled]="!genreForm.form.valid" pButton icon="pi pi-check" label="Save"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>