<p-table #dt [columns]="cols" [value]="branches" selectionMode="single" [(selection)]="selectedBranch"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    List of Branches
  </ng-template>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="30" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<form #branchForm="ngForm">
  <p-dialog header="Branch Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '300px'}">

    <div class="ui-g ui-fluid" *ngIf="branch">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="branchName">Branch Name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="branchName" name="branchName" minlength="2" required #branchName="ngModel"
            [(ngModel)]="branch.branchName" autofocus />
          <div class="error-msg" *ngIf="branchName.touched && !branchName.valid">
            <div *ngIf="branchName.errors.required">Branch Name is required </div>
            <div *ngIf="branchName.errors.minlength">Min length is 2 </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="branchAddress">Branch Address</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="branchAddress" name="branchAddress" [(ngModel)]="branch.branchAddress" />
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="!newBranch" type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="pi pi-check" (click)="save()" [disabled]="!branchForm.form.valid"
          label="Save"></button>
      </div>
    </p-footer>

  </p-dialog>
</form>